<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startujemy!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <scirpt src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></scirpt>
    <script src="js/start.js"></script>

</head>
<body ng-app="Test">
<div ng-controller="Form">
<h1>Startujemy {{test}}</h1>
    <img src="/img/garcinia_thumb.png" height="267" width="478"/>
    <!--<form ng-submit="submit()"></form>-->
    {{entries}}

</div>
<script>
    var user = {
        "user4" : {
            "name" : "mohit",
            "password" : "password4",
            "profession" : "teacher",
            "id": 4
        }
    }
$.ajax('http://127.0.0.1:3000/1')
    .then(
        function success(data){
            console.log(data);
        },
        function fail(data,status){
            console.log('Błąd: '+ status);
        }
    );



//var req = new XMLHttpRequest();
//req.open('GET','http://127.0.0.1:3000/1', true);
//req.send(null);
//req.onload = function() {
//    if (req.status === 200) {
//        console.log(req.responseText);
//    }
//}
//
//




</script>
</body>
</html>